server:
  port: 8085
  servlet:
    context-path: /offline-sync-service

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/offline_sync_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  rabbitmq:
    host: localhost
    port: 5673
    username: guest
    password: guest
    listener:
      simple:
        acknowledge-mode: manual
    template:
      mandatory: true


scheduler:
  retry-delay-minutes: 5
